@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@import "header";
@import "footer";

html,
 body {
   height: 100%;
   margin: 0;
 }

header {
  @include outer-container;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-content {
  margin-bottom: 5rem;
  min-height: 70%;
  & > section {
    @include outer-container;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

section {
  .section-image {
    display: none;
  }
  @include media($medium-screen-up) {
    .section-text {
      @include span-columns(2);
    }
    .section-image {
      @include span-columns(1);
      display: block;
    }
  }
}


.gradient-separator {
  @include linear-gradient($secondary-color-transparent, $transparent-0, $fallback: $transparent-0);
  width: 100%;
  height: 12.5rem;
  margin-bottom: -9rem;
}

body.details {
  @include media($medium-screen-up) {
    .main-content {
      text-align: center;
    }

    ol {
      text-align: left;
      max-width: 640px;
      display: block;
      margin: auto;
    }
  }
}

.job-list {
  list-style: none;
  padding-left: 1rem;

  li {
    margin-top: 1rem;
  }
}

.hero {
  background-size: cover;
  color: $white;
  height: 500px;
  position: relative;

  h2 {
    background-color: transparentize($primary-color, 0.4);
    color: $white;
    padding: 2rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    text-align: center;
  }

  h1 {
    background-color: transparentize($secondary-color, 0.4);
    color: $white;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    padding: 2rem;
    text-align: center;
    top: 200px;
    left: 1rem;
  }

  section {
    background-color: transparentize($secondary-color, 0.4);
    bottom: 0;
    padding: 1rem 1rem 0 2rem;
    position: absolute;
    right: 1rem;
  }
}
