{{ partial "head.html" . }}
<body class='job-description'>
  {{ partial "header.html" . }}
  <section class="hero" style="background-image: url({{ .Site.BaseURL}}images/{{ .Params.hero_image }})">
    <h1>{{ .Title }}</h1>
  </section>
  <section id="main">
    <div class="main-content">
      <em>{{ .Params.location }}</em>
      <section id="description">
        <p>{{ .Content }}</p>
      </section>
      <section id="responsibilities">
        <h3>Your responsibilities</h3>
        <ul>
          {{ range .Params.duties }}
          <li>
            {{ . }}
          </li>
          {{ end }}
        </ul>
      </section>
      <section id="skills">
        <h3>Ideal Qualities</h3>
        <ul>
          {{ range .Params.qualifications }}
          <li>
          {{ . }}
          </li>
          {{ end }}
        </ul>
      </section>
      <section id="company-pitch">
        {{ partial "company_pitch.html" }}
      </section>
    </div>
  </section>
  {{ partial "footer.html" . }}
</body>
{{ partial "foot.html" . }}
