  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <section class="hero" style="background-image: url({{ .Site.BaseURL}}images/hero.jpg)">
      <h2>Redefining Trust in Real Estate</h2>
      <section id="who-are-we">
        {{ partial "description.html" . }}
      </section>
    </section>
    <section id="main">
      <div class="main-content">
        <section id="why-us">
          <h2>Why {{ .Site.Params.company_name }}?</h2>
          {{ partial "company_pitch.html" . }}
        </section>
        <div class="gradient-separator"></div>
        <section id="jobs">
          <h2>See our latest openings</h2>
          <ul class='job-list'>
            {{ $jobs := where .Data.Pages ".Section" "job" }}
            {{ range $jobs }}
            {{ .Render "li" }}
            {{ end }}
          </ul>
        </section>
      </div>
    </section>
    {{ partial "footer.html" . }}
  </body>
  {{ partial "foot.html" . }}
